@model IDocument
@{
    var Published = Model.Get<DateTime>(BlogKeys.Published);   
    var Tags = Model.Get<string[]>(BlogKeys.Tags) ?? new string[] {};
}

<h6 class="date">@Published.ToShortDateString()</h6>

<ul class="tags">
@foreach (string tag in Tags.OrderBy(x => x)){ 
    IDocument tagDocument = Documents[Blog.Tags].FirstOrDefault(x => x.String(BlogKeys.Tag)== tag && x.Get<int>(Keys.CurrentPage) == 1); 
    if(tagDocument != null) {
        <li><a class="tag" href="@Context.GetLink(tagDocument)">@tag</a></li>
    } 
} 
</ul>

<h1 class="title"><a href="@Context.GetLink(Model)">@Model.WithoutSettings.String(BlogKeys.Title)</a></h1>
